

@model List<PVMTrading_v1.Models.Customer>
@*@model List<PVMTrading_v1.ViewModels.CustomerViewModel>*@



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>Customer's List</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid">
                                <p>
                                    @Html.ActionLink("Create New", "New")
                                    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#1">
                                        New Customer
                                    </button>
                     
                                    <!-- Modal -->
                                    <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                               $1$ <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                </div>#1#
                                                <div class="modal-body">
                                                    @{Html.RenderAction("New", "Customer");}
                                                </div>

                                            </div>
                                        </div>
                                    </div>*@
                                </p>
                                @if (!Model.Any())
                                {
                                    <p>We don't have any customers yet.</p>
                                }
                                else
                                {
                                    <table class="table table-bordered" id="customers" style="margin: 0">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Middle Name</th>
                                                <th>Last Name</th>
                                                <th>Extension Name</th>
                                                <th>Mobile Number</th>
                                                <th>Sex</th>
                                                <th>Registered Date Created</th>
                                                @*
                                                    <th>Address</th>*@
                                                <th>Manage</th>

                                                @*
                                                    <th>Telephone</th>

                                                      <th>Telephone</th>

                                                      <th>Email Address</th>
                                                      <th>Birth Date</th>
                                                      <th>Civil Status</th>

                                                      <th>Place Of Birth</th>
                                                      <th>Nationality</th>
                                                      <th>Tax Identification Number</th>
                                                      <th>Customer Type</th>

                                                      <th>Address</th>
                                                      <th>Zip Code</th>*@

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var customer in Model)
                                            {

                                                <tr>
                                                    <td>@customer.FirstName</td>
                                                    <td>@customer.MiddleName</td>
                                                    <td>@customer.LastName</td>
                                                    <td>@customer.NameExtension</td>
                                                    <td>@customer.Mobile</td>
                                                    <td>@customer.Sex.Label</td>
                                                    <td>@customer.RegisteredDateCreated.ToShortDateString()</td>
                                                    @*<td>@customer.CustomerCompleInfo.Telephone</td>
                                                        <td>@customer.CustomerCompleInfo.Email</td>
                                                        <td>@customer.CustomerCompleInfo.Birthdate</td>
                                                        <td>@customer.CustomerCompleInfo.CivilStatus.Label</td>
                                                        <td>@customer.CustomerCompleInfo.PlaceOfBirth</td>
                                                        <td>@customer.CustomerCompleInfo.Nationality</td>
                                                        <td>@customer.CustomerCompleInfo.TaxIdentificationNumber</td>
                                                        <td>@customer.CustomerCompleInfo.CustomerType.Label</td>
                                                        <td>@customer.CustomerCompleInfo.LotHouseNumberAndStreet, @customer.CustomerCompleInfo.Barangay, @customer.CustomerCompleInfo.CityMunicipality, @customer.CustomerCompleInfo.Province, @customer.CustomerCompleInfo.Country</td>"
                                                        <td>@customer.CustomerCompleInfo.ZipCode</td>#1#*@
                                                    <td>@*@Html.ActionLink("Edit", "Edit", new { id = customer.Id }, null)*@ <span class="btn btn-xs btn-primary" id="edit_@customer.Id" onclick="createModal('@Url.Action("Edit", "Customer" , new {id=customer.Id })')">Edit</span> | @Html.ActionLink("Delete", "Delete", new { id = customer.Id }, null) | @*@Html.ActionLink("Details", "Details", "Customer", new { id = customer.Id }, null)*@  <span class="btn btn-xs btn-primary" id="edit_@customer.Id" onclick="createModal('@Url.Action("Details", "Customer" , new {id=customer.Id })')">Details</span>
                                                                                                                                                                                                                                                                                  




                                                    @* <td>@Html.ActionLink("OderByCustomer", "OderByCustomer")</td>*@
                                                </tr>
                                             }
                                        </tbody>
                                    </table>
                                    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content" id="modelContent">
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />



@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">
    </script>
    <script>
        function createModal(url){
            $('#modelContent').load(url);
            $('#myModal').modal('show');
        }
    </script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#customers').DataTable({/*
            "ajax": {
                "url": "/customer/Loaddata",
                "type": "GET",
                "datatype":"json"
            },*/
                "column": [
                    { "autowidth": true },
                    { "ScrollY": (0.6 * $(window).height()) },
                    

                    /* { "data": "FirstName", "autowidth": true },
                     { "data": "MiddleName", "autowidth": true },
                     { "data": "LastName", "autowidth": true },
                     { "data": "NameExtension", "autowidth": true },
                     { "data": "Mobile", "autowidth": true },
                      { "data": "Telephone", "autowidth": true },
                      { "data": "Sex.Label", "autowidth": true },
                     { "data": "RegisteredDateCreated", "autowidth": true },
                     { "data": "PlaceOfBirth", "autowidth": true },
                     { "data": "Nationality", "autowidth": true },
                     { "data": "TaxIdentificationNumber", "autowidth": true },
                     { "data": "CustomerType", "autowidth": true },
                     { "data": "ZipCode", "autowidth": true }
 */

                ]



                });
            });
    </script>
    }
