@model PVMTrading_v1.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<div class="modal-body">
    

<div class="card mb-3">
<div class="card-header">
    <h4>Product Details</h4>
</div>
<div class="card-body">
    <div class="form-horizontal">
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Branch.BranchName)
                    @Html.DisplayFor(model => model.Product.Branch.BranchName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Brand.BrandName)
                    @Html.DisplayFor(model => model.Product.Brand.BrandName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.ProductCategory.Name)
                    @Html.DisplayFor(model => model.Product.ProductCategory.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.ProductCondition.Label)
                    @Html.DisplayFor(model => model.Product.ProductCondition.Label)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Warranty.Label)
                    @Html.DisplayFor(model => model.Product.Warranty.Label)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Name)
                    @Html.DisplayFor(model => model.Product.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Description)
                    @Html.DisplayFor(model => model.Product.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.SerialNumber)
                    @Html.DisplayFor(model => model.Product.SerialNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Model)
                    @Html.DisplayFor(model => model.Product.Model)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.DateCreated)
                    @Html.DisplayFor(model => model.Product.DateCreated)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.IsReturned)
                    @Html.DisplayFor(model => model.Product.IsReturned)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.OriginalPrice)
                    @Html.DisplayFor(model => model.Product.OriginalPrice)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Quantity)
                    @Html.DisplayFor(model => model.Product.Quantity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Reserved)
                    @Html.DisplayFor(model => model.Product.Reserved)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.AvailableForSelling)
                    @Html.DisplayFor(model => model.Product.AvailableForSelling)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ProductInclusion.FreeItem)
                    @Html.DisplayNameFor(model => model.ProductInclusion.FreeItem)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ProductInclusion.Quantity)
                    @Html.DisplayNameFor(model => model.ProductInclusion.Quantity)
                </td>
            </tr>



        @* <dt>
                @Html.DisplayNameFor(model => model.Product.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Image)
            </dd>*@
        </table>
            </div>
</div>
</div>

    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-dismiss="modal">
        Close
    </button>
</div>
