
@model List<PVMTrading_v1.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>    
    <div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Product List</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid">
                            <p>
                                @Html.ActionLink("Add New Product", "New")
                                @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#1">
                                    Add New Product
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            
                                            <div class="modal-body">
                                                @{Html.RenderAction("New", "Product");}
                                            </div>
                                            
                                            

                                        </div>
                                    </div>
                                </div>*@
                            </p>

                            @if (!Model.Any())
                            {
                                <p>We don't have any Products available yet.</p>
                            }
                            else
                            {
                                <table class="table table-bordered" id="product" style="margin: 0">
                                    <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Description</th>               
                                        <th>Model</th>
                                        <th>Price</th>
                                        <th>Branch</th>
                                        <th>Brand</th>
                                        <th>Product Category</th>
                                        <th>Product Condition</th>
                                        <th></th>
                                           

                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var product in Model)
                                    {

                                        <tr>
                                            <td>@product.Name</td>
                                            <td>@product.Description</td>
                                            <td>@product.Model</td>
                                            <td>@product.OriginalPrice</td>
                                            <td>@product.Branch.BranchName</td>
                                            <td>@product.Brand.BrandName</td>
                                            <td>@product.ProductCategory.Name</td>
                                            <td>@product.ProductCondition.Label</td>
                                            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalEdit">Edit</button> |
                                                @Html.ActionLink("Delete", "Delete", new { id = product.Id }, null) |
                                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalDisplay">Details
                                                </button> </td>
                                           
                            <!-- Modal for Edit-->
                            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        @{Html.RenderAction("Edit", "Product", new {id = product.Id});}
                                    </div>
                                </div>
                            </div>      

           
                                            
                                            <!-- Modal for Details-->
                                            <div class="modal fade" id="modalDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        
                                                        @{Html.RenderAction("Details", "Product", new {id = product.Id});}
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
<script>
        function createModal(url){
            $('#modelContent').load(url);
            $('#myModal').modal('show');
        }
</script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#product').DataTable({
            
                "column": [
                    { "autowidth": true },
                    { "ScrollY": (0.6 * $(window).height()) }
                ]



            });
        });
    </script>
}