@using PVMTrading_v1.Models
@model PVMTrading_v1.ViewModels.LoanViewModel


@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Details</h2>

    <div>
        <h4>Loan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Loan.Customer.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.Customer.FirstName)
                @Html.DisplayFor(model => model.Loan.Customer.LastName)
            </dd>

                 
            <div class="form-group">
                @Html.LabelFor(model => model.Loan.LoanStatusId, "LoanStatusId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LoanStatusId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Loan.LoanStatusId, "", new { @class = "text-danger" })
                </div>
            </div>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.ModeOfPayment.Label)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.ModeOfPayment.Label)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.Product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.Product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.Downpayment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.Downpayment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.LoanAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.LoanAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.Terms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.Terms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.InterestRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.InterestRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.DuePayment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.DuePayment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.LoanTotalPayment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.LoanTotalPayment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.ProductPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.ProductPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loan.LoanDateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loan.LoanDateCreated)
            </dd>

        </dl>
    </div>

</div>

