@model List<PVMTrading_v1.Models.LayAwayTransaction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Cash Transactions</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid">


                            @Html.ActionLink("New Transaction", "ProductList", "LayAwayTransaction", new { @class = "btn btn-primary" }, null)


                            @if (!Model.Any())
                            {
                                <p>We don't have any Transaction available yet.</p>
                            }
                            else
                            {
                                <table class="table table-bordered" id="cashtransact" style="margin: 0">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Customer</th>
                                            <td>Product</td>
                                            <td>Quantity</td>
                                            <th>Total Amount</th>
                                            <th>Paid</th>
                                            <th>Balance</th>
                                            <th>Remarks</th>
                                            <th>Date</th>
                                            <th>Void</th>
                                            <th></th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cash in Model)
                                        {

                                            <tr>
                                                <td>@cash.Id</td>
                                                <td>@cash.Customer.FirstName @cash.Customer.LastName</td>
                                                <td>@cash.Product.Name</td>
                                                <td>@cash.Quantity</td>
                                                <td>@cash.TotalAmount</td>
                                                <td>@cash.TotalPaidAmount</td>
                                                <td>@cash.RemainingBalance</td>
                                                <td>@cash.Remarks</td>
                                                <td>@cash.TransactionDate</td>
                                                <td>@cash.IsVoid</td>
                                               <td>@Html.ActionLink("Void", "Delete", new { id = cash.Id }) | @Html.ActionLink("Details", "Details", new { id = cash.Id })
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{

    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#cashtransact').DataTable({
                "column": [
                    { "autowidth": true },
                    { "ScrollY": (0.6 * $(window).height()) }
                ]


            });
        });
    </script>
}