
@using System.Collections
@using PVMTrading_v1.Models
@using PVMTrading_v1.ViewModels
@model PVMTrading_v1.ViewModels.CashTransactionListViewModel
@{
    ViewBag.Title = "Details";
    /*
        Layout = "~/Views/Shared/_Layout.cshtml";
    */
}
<div class="modal-header">
   <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">


    <div class="card mb-3">
        <div class="card-header">
            <h4>Cash Transaction Information</h4>
        </div>
        <table class="table-responsive table-bordered">
            <tr>
                <th>Transaction #</th>
                <th>Customer Name</th>
                <th>Date of Transaction</th>
                <th>TotalAmount</th>
                <th>Discount</th>
                <th>Total w/ Discount</th>
                <th>OR #</th>
                <th>Remarks</th>
                <th>Void</th>
            </tr>
            <tr>
                <td>@Model.CashTransaction.Id</td>
                <td>@Model.Customer.FirstName @Model.Customer.MiddleName @Model.Customer.LastName</td>
                <td>@Model.CashTransaction.CashTransactionDate</td>
                <td>@Model.CashTransaction.OriginalTotalAmount</td>
                <td>@Model.CashTransaction.TotalDiscountedAmount</td>
                <td>@Model.CashTransaction.TotalAmount</td>
                <td>@Model.CashTransaction.OR</td>
                <td>@Model.CashTransaction.Remarks</td>
                <td>@Model.CashTransaction.IsVoid</td>
            </tr>

        </table>



        <table>


            <tr>
                <th>Product Name</th>
                <th>Model</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            @foreach (var c in ViewData["ListItem"] as IList<CashTransactionItem>)
            {
                <tr>
                    <td>@c.Product.Name</td>
                    <td>@c.Product.Model</td>
                    <td>@c.Quantity</td>
                    <td>@c.ProductPrice</td>
                </tr>

            }


        </table>





    </div>
</div>
