@model List<PVMTrading_v1.Models.CashTransaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Cash Transactions</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid">


                            @Html.ActionLink("New Cash Transaction", "ProductList", "SearchProduct", new { @class = "btn btn-primary" }, null)


                            @if (!Model.Any())
                            {
                                <p>We don't have any Transaction available yet.</p>
                            }
                            else
                            {
                                <table class="table table-bordered" id="cashtransact" style="margin: 0">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Customer</th>
                                            <th>Total Amount</th>
                                            <th>Discount</th>
                                            <th>Total Amount w/ Discount</th>
                                            <th>Date</th>
                                            <th>Remarks</th>
                                            <th>OR</th>
                                            <th>Void</th>
                                            <th></th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cash in Model)
                                        {

                                            <tr>
                                                <td>@cash.Id</td>
                                                <td>@cash.Customer.FirstName @cash.Customer.LastName</td>
                                                <td>@cash.OriginalTotalAmount</td>
                                                <td>@cash.TotalDiscountedAmount</td>
                                                <td>@cash.TotalAmount</td>
                                                <td>@cash.CashTransactionDate</td>
                                                <td>@cash.Remarks</td>
                                                <td>@cash.OR</td>
                                                <td>@cash.IsVoid</td>
                                                <td>
                                                    @*@Html.ActionLink("Void", "Delete", new { id = cash.Id })*@
                                                    <button data-toggle="modal" data-target="#modalDisplay">
                                                        Details
                                                    </button>| @Html.ActionLink("Details", "Details", new { id = cash.Id })
                                            </td>
                                                <!-- Modal for Details-->
                                                @*<div class="modal fade" id="modalDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        
                                                            @{Html.RenderAction("Details", "CashTransaction", new {id = cash.Id});}
                                                        </div>
                                                    </div>
                                                </div>*@
                                                <div class="modal fade" id="modalDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="modalDisplay">Cash Transaction View</h5>
                                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">@{Html.RenderAction("Details", "CashTransaction", new { id = cash.Id });}</div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                    <a class="btn btn-primary">@Html.ActionLink("Void", "Delete", new { id = cash.Id })</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script>
        function createModal(url){
            $('#modelContent').load(url);
            $('#myModal').modal('show');
        }
    </script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cashtransact').DataTable({

                "column": [
                    { "autowidth": true },
                    { "ScrollY": (0.6 * $(window).height()) }
                ]



            });
        });
    </script>
}

